@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
  width: 100%;
  overflow: hidden;
}
.ring {
  position: relative;
  width: 450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ring i {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}
.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
.ring:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.login {
  position: absolute;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.login h2 {
  font-size: 2em;
  color: #fff;
}
.login .inputBx {
  position: relative;
  width: 100%;
}
.login .inputBx input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 15px;
  font-size: 1.2em;
  color: #fff;
  box-shadow: none;
  outline: none;
}
.teste {
  width: 100%;
  background: #80ff00;
  background: linear-gradient(45deg, #ff81ab, #72e0ff);
  border: none;
  cursor: pointer;
  border-radius: 12px;
  font-size: 1.2em;

}
.login .inputBx input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.login .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.login .links a {
  color: #fff;
  text-decoration: none;
}

*{
    margin: 0px;
}
body{
    background-color: #b8d8d8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    background-image: url(img/fundo2.jpg);
    background-size: cover; /* Faz com que a imagem cubra toda a área */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto rola a página */
    background-repeat: no-repeat; /* Não repete a imagem */
    
  
    
   
}
.Textos{
    background-color: #9abcc2;
    padding: 3em;
    border-radius: 8px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}
.titulo{
    font-size: 30px;
    margin-bottom: 30px;
}

input{
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
}
input[type="submit"]{
    background-color: rgb(67, 255, 46);
    color: rgb(158, 156, 156);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(14, 93, 7);
}
label{
    margin-top: 5px;
    font-size: 20px;
}

footer{
    background: linear-gradient(45deg,#000000,#000000);
   border: 2px solid;
   position: fixed;
   width: 100%;
   bottom: 0;
   padding-top: 10px;
   padding-bottom: 10px;
text-align: center;
}
.label{
    margin-bottom: 1px;
    font-size: 20px;
}
.fundo{
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
